<launch>
    
    <node pkg="crawler" exec="crawler_web_api"></node>

    <node pkg="crawler" exec="crawler_blinker">
        <param name="led_pin" value="40" />
    </node>

    <node pkg="crawler" exec="crawler_motors"></node>

    <node pkg="crawler" exec="crawler_encoders">
        <param name="left_encoder_pin_a" value="36" />
        <param name="left_encoder_pin_a" value="38" />
    </node>
 
</launch>