<launch>
    
    <node pkg="crawler" exec="crawler_web_api"></node>

    <node pkg="crawler" exec="crawler_blinker">
        <param name="led_pin" value="5" />
    </node>

    <node pkg="crawler" exec="crawler_motors"></node>

    <node pkg="crawler" exec="crawler_encoders">
        <param name="left_encoder_pin_a" value="20" />
        <param name="left_encoder_pin_b" value="16" />
        <param name="right_encoder_pin_a" value="27" />
        <param name="right_encoder_pin_b" value="17" />
    </node>

    <!-- Raspberry Pi pinout: https://pinout.xyz/ -->

    <node pkg="crawler" exec="crawler_rl_environment"></node>

    <node pkg="crawler" exec="crawler_q_learning"></node>
 
</launch>