<launch>
    
    <node pkg="crawler" exec="crawler_web_api"></node>

    <node pkg="crawler" exec="crawler_blinker">
        <param name="led_pin" value="5" />
    </node>

    <node pkg="crawler" exec="crawler_motors">
        <param name="arm_id" value="6" />
        <param name="arm_min_limit" value="900" />
        <param name="arm_max_limit" value="1500" />
        <param name="arm_speed" value="5000" />
        <param name="hand_id" value="7" />
        <param name="hand_min_limit" value="2500" />
        <param name="hand_max_limit" value="3300" />
        <param name="hand_speed" value="5000" />
    </node>

    <node pkg="crawler" exec="crawler_encoders">
        <param name="left_encoder_pin_a" value="20" />
        <param name="left_encoder_pin_b" value="16" />
        <param name="right_encoder_pin_a" value="27" />
        <param name="right_encoder_pin_b" value="17" />
    </node>

    <!-- Raspberry Pi pinout: https://pinout.xyz/ -->

    <node pkg="crawler" exec="crawler_rl_environment"></node>

    <node pkg="crawler" exec="crawler_q_learning">
        <param name="arm_min_limit" value="900" />
        <param name="arm_max_limit" value="1500" />
        <param name="hand_min_limit" value="2500" />
        <param name="hand_max_limit" value="3300" />
    </node>
 
</launch>